body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    flex-wrap: wrap;
}

.header-hero {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
}

.header {
    display: flex;
    align-items: center;
    width: 1000px;
    justify-content: space-between;
    /* height: 200px */
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style: none;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    gap: 18px;
}

.hero {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    width: 470px;
    height: 230px;
    align-items: flex-start;
    justify-content: center;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-text button {
    background-color: #3882F6;
    border-radius: 8px;
    border: none;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 32px;
    margin-top: 12px;
}

.hero-image img {
    height: 230px;
    width: 500px
}

.info {
    display: flex;
    flex: 1;
}

.quote {
    background-color: #E5E7EB;
    flex: 1;
}

.footer {
    background-color: #1F2937;
    height: 70px;
}

